<!DOCTYPE html>
<html>
<head>
    <title>Mantenimiento Cursos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/cursos.css">
    <div class="header">
        <div class="header-left">
            <h1>UNIVERSIDAD NACIONAL</h1>
        </div>
        <div class="header-right">
            <a href="file:///C:/Users/Alonso%20Calderon/Desktop/Semestre%20Actual/Moviles/LabMoviles/LabMoviles/src/cr/una/FE/WebView/Views/index.html">Inicio</a>
            <a href="file:///C:/Users/Alonso%20Calderon/Desktop/Semestre%20Actual/Moviles/LabMoviles/LabMoviles/src/cr/una/FE/WebView/Views/login.html">Salir</a>
        </div>
    </div>
    <h1>Listado de cursos</h1>
</head>
<body>
<div id="page-container">
    <div id="content-wrap">
        <div class="busqueda">
            <h4 >Filtrar Datos</h4>
            <input type ="text" name="busquedaText" id="busquedaText" placeholder="dato búsqueda...">
            <label for="ddlFiltro">Filtro de búsqueda:</label>
            <select name="filtro" id="ddlFiltro">
                <option value="codigo">Código</option>
                <option value="nombre">Nombre</option>
                <option value="carrera">Carrera</option>
            </select>
            <button class="btn btn-dark" id="BusquedaCodigo"  type="button" onclick="busqueda()" >Buscar</button>
    </div>
<div>
    <table class="table table-bordered table-striped mb-0">
        <thead class="thead-dark">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Créditos</th>
            <th>Horas Semanales</th>
        </tr>
        </thead>
        <tbody id="myTable"> </tbody>
    </table>
</div>
</div>
    <footer class="bg-light text-center text-lg-start" id="footer">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-dark">Brute Force</a>
        </div>
    </footer>
</div>
</body>
<script src="../Js/cursos.js"></script>
</html>