<!DOCTYPE html>
<html>
<head>
    <title>Mantenimiento Alumnos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../Style/index.css">
    <div class="header">
        <div class="header-left">
            <h1>UNIVERSIDAD NACIONAL</h1>
        </div>
        <div class="header-right">
            <a href="file:///C:/Users/Alonso%20Calderon/Desktop/Semestre%20Actual/Moviles/LabMoviles/LabMoviles/src/cr/una/FE/WebView/Views/index.html">Inicio</a>
            <a href="file:///C:/Users/Alonso%20Calderon/Desktop/Semestre%20Actual/Moviles/LabMoviles/LabMoviles/src/cr/una/FE/WebView/Views/login.html">Salir</a>
        </div>
    </div>
    <h1>Bienvenido</h1>
</head>
<body>
<div id="page-container">
    <h2>Opciones</h2>
    <ol id="listaFuncionalidades">
    </ol>
</div>
    <footer class="bg-light text-center text-lg-start" id="footer">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-dark">Brute Force</a>
        </div>
    </footer>
</div>
</body>
<script src="../Js/index.js"></script>
</html>